<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WindSage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>
    <header>
        <div class="container">
            <h1>WindSage</h1>
        </div>
    </header>

    <main class="container">
        <div id="compass-bar">
            <div class="compass-direction" style="left: 4%;">S</div>
            <div class="compass-direction" style="left: 24%;">W</div>
            <div class="compass-direction" style="left: 48%;">N</div>
            <div class="compass-direction" style="left: 72%;">E</div>
            <div class="compass-direction" style="left: 90%;">S</div>

        </div>
        
        <section class="layout-container">
            <div id="wind-map-img">
                <img src="{{ url_for('static', filename='images/house_layout.svg') }}" alt="House Layout">
            </div>
            <svg id="wind-map" width="1488" height="716" viewBox="0 0 1488 716">
                <!-- Aerodynamic Streamlines -->
                <defs>
                    <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                    </marker>
    
                </defs>
            </svg>
        </section>

        <section id="windInfo" class="layout-container">
            <h2>Wind Information</h2>
            <p>Time: <span id="forecastTime">Loading...</span></p>
            <p>Wind Speed: <span id="windSpeed">Loading...</span></p>
            <p>Wind Direction: <span id="windDirection">Loading...</span></p>
            <p>Cardinal Direction: <span id="cardinalDirection">Loading...</span></p>
            <button id="nextHoursBtn">Next Hours</button>
        </section>
    </main>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <footer>
        <div class="container">
            <p>Created with passion by h4fide for a private project showcasing wind direction around my house.</p>
            <p>Find me on <a href="https://github.com/h4fide" target="_blank">GitHub</a></p>
        </div>
    </footer>
</body>
</html>
